body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  height: 100vh;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 40px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
}

.auth-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.8;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 81, 47, 0.4);
}

.bottom-text {
  margin-top: 20px;
  font-size: 14px;
}

.bottom-text a {
  color: #ffcc70;
  text-decoration: none;
  font-weight: bold;
}
